.Screen {
  width: 100vw;
  height: 50vh;
  background-color: black;
  color: #ccc;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.Contacts {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
}